<section class="about-me" id="about">
    <h2 class="section__title section__title--about">Who I am</h2>
    <!-- <p class="section__subtitle section__subtitle--about"></p> -->

    <div class="about-me__body">
        <div class="about-me__body--text">
            <p>
                The computer wouldn't start. She banged on the side and
                tried again. Nothing. She lifted it up and dropped it to
                the table. Still nothing. She banged her closed fist
                against the top. It was at this moment she saw the irony
                of trying to fix the machine with violence.
            </p>
        </div>
        <div class="about-me__vertical-menu">
            <ul>
                <li>Hello</li>
                <li>HI</li>
                <li>Yo</li>
                <li>Suh</li>
            </ul>
        </div>
    </div>

    <img />
</section>